/* Apply styling to the entire Resume section */
.resume-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
  }
  
  /* Style headings */
  .resume-card h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Style links */
  .resume-card a {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
  }
  
  .resume-card a:hover {
    text-decoration: underline;
  }
  
  /* Style lists */
  .resume-card ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
  }
  
  .resume-card li {
    margin-bottom: 5px;
  }
  
  /* Media query for responsive design */
  @media (max-width: 565px) {
    .resume-card h2 {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
      margin-top: 80px;
  }
    
    .resume-card {
      margin: 10px;
    }
  }

  @media (max-width: 267px) {
    .resume-card h2 {
      font-size: 18px;
      margin-top: 120px;
    }
  }
  