.toggle-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    padding: 0;
    margin: 0;
    display: none;
    /* Hide the (☰) button by default */
}

header {
    position: fixed;
    /* Make the header fixed */
    top: 0;
    /* Position it at the top of the viewport */
    background-color: #531f9b;
    color: #bdbdbd;
    padding: 20px;
    width: 100%;
    /* Set width to 100% to span the viewport width */
    max-height: 20px;
    z-index: 100;
    /* Ensure it appears above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: block; /* Hide the navigation by default */
}

.nav-menu.active {
    display: block; /* Show the navigation when active */
}

.header-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #DAA520;
    -webkit-text-stroke: 1px #00000000;
    font-weight: bolder;
}

/* Style for the header links */
header ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

header ul li {
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Media query for smaller screens */
@media (max-width: 565px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        /* Align items to the left */
        max-height: -moz-fit-content;
        max-height: fit-content;
    }

    header ul {
        flex-direction: column;
        /* Stack links vertically */
        align-items: flex-start;
        /* Align links to the left */
    }

    .toggle-button {
        display: block;
        /* Show the (☰) button on smaller screens */
        margin-right: 30px;
    }

    .nav-menu {
        /* Remove the 'display: none;' property */
        display: none;
    }

    .nav-menu.active ul {
        display: flex;
        /* Show the navigation links when active */
        flex-direction: column;
        /* Stack the links vertically */
    }
}
