/* Style for the navigation links */
nav ul {
  list-style: none;
  padding-right: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  -webkit-text-stroke: .5px black;
  font-weight: bolder;
}

/* Highlight the active link */
nav a.active {
  color: #007bff;
}